<p id="notice"><%= notice %></p>

<div class="row">
  <% @listings.each do |listing| %>
  <div class="col-md-3">
    <%= image_tag listing.image.url(:medium) %><br>
    <%= listing.name %><br>
    <%= listing.description %><br>
    <%= listing.price %><br>
    <%= link_to 'Show', listing, class: 'btn btn-link' %><br>
    <%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-link' %><br>
    <%= link_to 'Delete', listing, class: 'btn btn-link', method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Listing', new_listing_path, class: 'btn btn-link' %>
